@import "tailwindcss";

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.2s ease-out forwards;
}
/* ===== RED DOTS FOR REACT-SLICK ===== */
.slick-dots li button:before {
  font-size: 10px;
  color: #555;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #e60023;
}


/* ===== PRICE SLIDER STYLING ===== */



.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.price-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
