@import "tailwindcss";

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.2s ease-out forwards;
}

/* ===== PRICE SLIDER STYLING ===== */



.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.price-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}





/* HERO SLIDER DOTS */
.hero-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #848181; /* light red (inactive) */
  transition: all 0.3s ease;
}

/* ACTIVE DOT */
.slick-dots li.slick-active .hero-dot {
  background: #e60023; /* bright red */
  transform: scale(1.4);
}



/* ================= FEATURED COVERFLOW ================= */

/* FAR slides (smallest) */
.featured-card {
  transform: scale(0.65);
  transition: transform 0.6s ease;
}

/* IMMEDIATE left & right (medium) */
.slick-active .featured-card {
  transform: scale(0.9);
}

/* CENTER slide (biggest) */
.slick-center .featured-card {
  transform: scale(1.35);
}

/* Center override safety */
.slick-center.slick-active .featured-card {
  transform: scale(1.35);
}

/* ================= DOTS ================= */

.featured-dot {
  width: 6px;
  height: 6px;
  background: #555;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active .featured-dot {
  background: #e60023;
  transform: scale(1.6);
}

.slick-dots {
  bottom: -45px;
}
